<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://speechgenapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8cac0e5a-e87b-46b2-b396-675e4548197c/resourcegroups/CognitiveResourceGroup/providers/Microsoft.Web/sites/SpeechGenApp</ResourceId>
    <UserName>$SpeechGenApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://speechgenapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>